img {
  width: 30px;
}
.side_header {
  display: flex;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
  cursor: pointer;
  span {
    margin-left: 10px;
  }
}
.side_menu {
  height: 100vh;
  font-size: 20px;
}
